@font-face {
    font-family: 'poxel';
    src: url('../fonts/poxel-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/press-start-2p.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    text-align: center;
}

.main_title {
    font-family: 'poxel', serif;
    margin: 0 30px;
}

a, a:hover, a:focus {
     text-decoration: none;
     color: inherit;
 }

.line {
  text-decoration: line-through;
}

.container {
    padding-bottom: 4em;
}

body {
    padding-top: 70px;
    display: flex;
    min-height: 100vh;
}

/* Styles pour le mode clair */
body.light-mode {
    background-color: #fff;
    color: #333;
}

/* Styles pour le mode sombre */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

/* TODO Delete this -- Styles pour le toggle switch */
.switch-light-dark {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
    margin-right: 10px;
}

.switch-light-dark input {
  display: none;
}

.slider-light-dark {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider-light-dark:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider-light-dark {
  background-color: #2196F3;
}

input:checked + .slider-light-dark:before {
  transform: translateX(26px);
}

.slider-light-dark.round {
  border-radius: 34px;
}

.slider-light-dark.round:before {
  border-radius: 50%;
}

/* Styles for the theme flip button */
.flip-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  line-height: 2em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: none;
  background-color: #f6eec8; /* Light theme color */
  transition: all 0.5s ease;
  cursor: pointer;
  margin-left: 1.2em;
}

/* Dark theme styles */
body.dark-mode .flip-button {
  background-color: #1c1c1c; /* Dark theme color */
  color: white;
}

/* Icon for the dark theme (moon) */
body.dark-mode .flip-button::before {
    content: "";
    width: 80%;
    height: 80%;
    background-image: url('../img/moon-dark-mode.png');
    background-size: cover;
    background-position: center;
}

/* Icon for the light theme (sun) */
.flip-button::before {
    content: "";
    width: 80%;
    height: 80%;
    background-image: url('../img/sun-light-mode.png');
    background-size: cover;
    background-position: center;
}

.home_title {
    text-align: center;
}

.list-btn {
    display: flex;
    flex-flow: row wrap;
}

.container-title {
    border-bottom: black 2px solid;
}

.note {
    border: lightgray 2px solid;
    box-shadow: 0 0.5rem 0.5rem darkgray;
    padding: 1em;
    margin-bottom: 2em;
}

.note img {
    max-width: 100%;
    height: auto;
}

.note-body {
    overflow: hidden;
    max-height: 600px;
}

.note {
    padding: 1em;
}

.note img {
    max-width: 100%;
    height: auto;
}

.desktop-banner {
    display: block;
}

.mobile-banner {
    display: none;
}

.footer {
    height: 5em;
    line-height: 5em;
    font-size: 18px;
}

#jsonView pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

@media (max-width: 577px) {
    .desktop-banner {
        display: none;
    }

    .mobile-banner {
        display: block;
    }
}

@media (max-width: 768px) {
    .menu-desktop {
        display: none;
    }
}

.btn-category {
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.btn-disabled {
    opacity: 60%;
}

.btn-anime {
  --bs-btn-color: #fff;
  --bs-btn-bg: #424499;
  --bs-btn-border-color: #424499;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #333373;
  --bs-btn-hover-border-color: #333373;
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #424097;
  --bs-btn-active-border-color: #313286;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #424499;
  --bs-btn-disabled-border-color: #424499;
}

.note-category-1 {
    font-style: italic;
    margin-left: auto;
    background-color: #dc3545;
    border-radius: 1em;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

.note-category-2 {
    font-style: italic;
    margin-left: auto;
    background-color: #424499;
    border-radius: 1em;
    padding: 0.2em 0.5em 0.2em 0.5em;

}

.note-category-3 {
    font-style: italic;
    margin-left: auto;
    background-color: #198754;
    border-radius: 1em;
    padding: 0.2em 0.5em 0.2em 0.5em;

}

.note-category-4 {
    font-style: italic;
    color: black;
    margin-left: auto;
    background-color: #f8f9fa;
    border-radius: 1em;
    padding: 0.2em 0.5em 0.2em 0.5em;
}
