{% extends 'layout.html' %}

{% block title %}Notes{% endblock %}

{% block content %}
<div class="container">
    <div class="htop-container" id="notes-container">
        <h1 class="htop-title">Notes</h1>

        {% if notes %}
            <div class="htop-header">
                <div class="htop-cell htop-note">Title</div>
                <div class="htop-cell htop-date">Date</div>
            </div>
            {% for year, months in notes.items() %}
                {% for month, notes in months.items() %}
                    {% for note in notes %}
                        <div class="htop-row">
                            <div class="htop-cell htop-note"><a href="{{ url_for('note.note_detail', note_id=note.id) }}">{{ note.title }}</a></div>
                            <div class="htop-cell htop-date">{{ note.date_created.strftime('%d/%m/%Y') }}</div>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% else %}
            <p>Aucune note disponible.</p>
        {% endif %}
    </div>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('note.create_note') }}" class="btn btn-primary" style="margin-top: .6em;">Add a note</a>
    {% endif %}
</div>
{% endblock %}

{% block script_js %}
    <script type="text/javascript">

    </script>
{% endblock %}