{% extends "layout.html" %}
{% block title %}Bienvenue{% endblock %}

{% block content %}
<div class="container">
    <section>
        {% for article in articles %}
            <div class="article">
                <a href="{{ url_for('note.note_detail', note_id=article.id) }}"><h2 class="text-center">{{ article.title }}</h2></a>
                <div class="note-body">
                    {{ article.body|safe }}
                </div>
                <div style="margin-bottom: 1em; margin-top: 1em; font-style: italic;"><a href="{{ url_for('note.note_detail', note_id=article.id) }}">Read the article...</a></div>
                <span style="font-style: italic">Posted on {{ article.date_created }}</span>
            </div>
        {% endfor %}
    </section>
</div>
{% endblock %}