{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container" style="max-width: 35em;">
    <h2 style="margin-bottom: 2em; text-align: center">Log in</h2>
    <form method="POST" action="{{ url_for('main.login') }}">
        <label for="{{ form_user.login.id }}" style="margin-bottom: 0.5em;">Username</label>
        {{ form_user.login(class="form-control") }}
        <label for="{{ form_user.password.id }}" style="margin-bottom: 0.5em;">Password</label>
        {{ form_user.password(class="form-control") }}
        <div class="d-flex flex-row justify-content-center" style="margin-top: 1em;">{{ form_user.submit(class="btn btn-primary") }}</div>
    </form>
</div>
{% endblock %}

{% block script_js %}
{% endblock %}